*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../img/cabinet.jpg");
    background-size: 100% 100%;
}

.btn__return-to-main, .btn__fake-return-to-main{
    position: fixed;
    top: 30px;
    right: 60px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn__return-to-main:hover, .btn__fake-return-to-main:hover{
    box-shadow: 1px 2px 4px rgb(74, 107, 107);
    transition:  .5s;
}

.mmm{
    position: fixed;
    top: 60px;
    right: 460px;
    width: 250px;
    height: 100px;
    background: white;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.round-small{
    position: fixed;
    top: 140px;
    right: 780px;
    width: 10px;
    height: 10px;
    background: white;
    border: none;
    border-radius: 50%;
}

.round-middle{
    position: fixed;
    top: 110px;
    right: 740px;
    width: 20px;
    height: 20px;
    background: white;
    border: none;
    border-radius: 50%;
}

.unvisible{
    transition: .7s;
    opacity: 0;
    pointer-events: none;
}
.visible{
    transition: .7s;
    opacity: 1;
    pointer-events: all;
}