*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(57, 51, 54, 0.1);
}

.login{
    width: 400px;
    height: 400px;
    padding: 20px;
    background: rgba(57, 51, 54, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}